@model Week16_KLGradeBookv2_04282016.Models.Grade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PointsEarned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsEarned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
